<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. ສົ່ງຕໍ່ໜ້າທຳອິດໄປຫາ public/index.php
    RewriteRule ^$ public/index.php [L]

    # 2. ຖ້າບໍ່ແມ່ນໄຟລ໌ ຫຼື ໂຟນເດີທີ່ມີຢູ່ຈິງ ໃຫ້ສົ່ງໄປຫາ public/...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
