@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --color-primary: #00327d;
    --color-primary-container: #0047ab;
    --color-secondary: #735c00;
    --color-secondary-container: #fed65b;
    --color-background: #f8f9ff;
    --color-surface: #f8f9ff;
    --color-on-background: #0d1c2e;
    --color-on-surface: #0d1c2e;
    --color-on-primary: #ffffff;
    --color-on-secondary: #ffffff;
    --color-error: #ba1a1a;
    --color-error-container: #ffdad6;
    --color-on-error: #ffffff;
    --color-on-error-container: #93000a;
    --color-surface-container: #e6eeff;
    --color-surface-container-low: #eff4ff;
    --color-surface-container-high: #dce9ff;
    --color-surface-container-highest: #d5e3fc;
    --color-surface-container-lowest: #ffffff;
    --color-outline: #737784;
    --color-outline-variant: #c3c6d5;

    --font-sans: 'Phetsarath', ui-sans-serif, system-ui, sans-serif;
    --font-headline: 'Phetsarath', serif;
}
